@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #000;
$secondary_color: #082269;
$background: #333033;
$border: #082269;

$max_width: 1200px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 16px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* General */

/*oo-wsc-modal {
	.xoo-wsc-basket {
		top: 120px;
		bottom: inherit;
	}
}*/

.button.xoo-wsc-cont.btn {
	background-color: $secondary_color;
}

.grecaptcha-badge {
	display: none !important;
}

/* Top */

.top_1 {
	background-color: $secondary_color;
	font: {
		family: 'Roboto Condensed', sans-serif;
		size: 10px;
	}
	color: #fff;
	p {
		margin: 0;
	}
	a {
		color: #fff;
	}
	.moduletable_to11 {
		padding: 5px 0;
	}
}

.top {
	.moduletable_to1 {
		padding: 10px 0;
	}
	.moduletable_to2 {
		font-family: 'Roboto Condensed', sans-serif;
		h3 {
			width: fit-content;
			border-bottom: 1px solid $secondary_color;
			font-size: 18px;
			color: $secondary_color;
		}
		ul {
			margin: 0;
			list-style: none;
			li {
				padding: 2px 5px;
				a {
					color: $primary_color;
					display: inline-block;
					&:hover {
						color: $secondary_color;
						transform: translateX(10px);
						transition: all 0.5s linear;
					}
				}
			}
		}
		.berocket_aapf_widget-title_div {
			display: none;
		}
		.berocket_single_filter_widget_121 {
			ul {
				li {
					span {
						label {
							&:hover {
								color: $primary_color;
							}
						}
					}
					&:hover {
						background-color: transparent;
						color: $primary_color;
					}
				}
			}
			.berocket_color_span_block {
				border: 0 !important;
			}
		}
		.berocket_single_filter_widget_125 {
			ul {
				columns: 2;
			}
		}
	}
	.moduletable_to3 {
		p {
			margin: 0;
		}
		#a {}
		#b {
			.amount {
				padding: {
					left: 4px;
					right: 4px;
				}
				font-size: 14px;
			}
		}
		#c {
			a {
				&.glink.nturl.notranslate {
					width: 32px;
					height: 32px;
					margin: 0 2px;
					background: {
						position: center;
						repeat: no-repeat;
					}
					display: inline-block;
					img {
						display: none;
					}
					&:nth-child(1) {
						background-image: url(en_white_bg.png);
						&:hover {
							background-image: url(en_blue_bg.png);
						}
					}
					&:nth-child(2) {
						background-image: url(es_white_bg.png);
						&:hover {
							background-image: url(es_blue_bg.png);
						}
					}
				}
			}
		}
	}
	.moduletable_to4 {
		width: 200px;
		padding: 10px;
		background-color: #fff;
		position: absolute;
		z-index: 1000;
		[type=submit] {
			display: none;
		}
		a {
			&.close {
				margin: 0;
				padding: 5px;
				background-color: $secondary_color;
				border-radius: 0;
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

.banner_small {
	margin-bottom: 40px;
	.row {
		max-width: inherit !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

/*.woocommerce-product-gallery {
display: flex;
}

.woocommerce-product-gallery .flex-control-thumbs {
order: -10;
}

.woocommerce div.product div.images .flex-control-thumbs li {
width: 100%;
padding-top: 0;
padding-bottom: 5px;
}*/

/* Make image 75% width to make room to its right */
 
/*div.product .woocommerce-product-gallery .flex-viewport {
    width: 75%;
    float: right;
}*/
 
/* Make Gallery 25% width and place it beside the image */
 
/*div.product .woocommerce-product-gallery .flex-control-thumbs {
    width: 25%;
    float: left;
}*/
 
/* Style each Thumbnail with width and margins */
 
/*.woocommerce div.product div.images .flex-control-thumbs li {
width: 100%;
padding-top: 0;
padding-bottom: 5px;
}*/

.content {
	padding: 40px 0;
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	.moduletable_le1 {
		padding: 1em 2em;
		h3 {
			margin-bottom: 1em;
			border-bottom: 1px solid $secondary_color;
			font: {
				family: 'Roboto Condensed', sans-serif;
				size: 18px;
			}
			color: $secondary_color;
			letter-spacing: 3px;
		}
		h4 {
			color: #0071b7;
		}
		.berocket_aapf_widget-title_div {
			display: none;
		}
		.berocket_single_filter_widget_121 {
			.berocket_color_span_block {
				margin-left: 20px;
				border: 0 !important;
				float: right;
				position: relative;
			}
			.berocket_color_text {
				margin: 0;
				float: left;
				position: relative;
			}
		}
		.berocket_single_filter_widget_122 {
			.berocket_color_span_block {
				border: 1px solid #dedede !important;
				border-radius: 50%;
			}
		}
		.berocket_single_filter_widget_123 {
			.berocket_color_span_block {
				border: 0 !important;
			}
		}
	}
	.woocommerce {
		h1.page-title {
			display: none;
		}
		p.woocommerce-result-count {
			display: none;
		}
		form.woocommerce-ordering {
			display: none;
		}
		ul.products {
			h2.woocommerce-loop-product__title {
				/*max-width: 85%;*/
				margin: 0 !important;
				margin-bottom: 10px !important;
				padding: 0 !important;
				font: {
					family: 'Roboto Condensed', sans-serif;
					size: 18px !important;
				}
				color: $primary_color;
				text-align: center;
			}
			span.price {
				/*max-width: 85%;*/
				margin: 0 !important;
				margin-bottom: 10px !important;
				padding: 0 !important;
				font: {
					family: 'Roboto Condensed', sans-serif;
					size: 18px !important;
				}
				color: #5d5d5d !important;
				text-align: center;
			}
			a.product_type_simple,
			a.product_type_variable {
				display: none;
			}
			button.woosq-btn {
				width: 180px;
				/*height: 40px;*/
				margin: auto;
				/*margin-top: -70px;*/
				padding: 12px 10px 12px 40px;
				background: {
					color: $secondary_color;
					image: url(icon_cart_white.png);
					/*origin: padding-box;*/
					position: 4px 0;
					repeat: no-repeat;
				}
				border-radius: 0;
				color: #fff;
				display: block;
				cursor: pointer;
				/*float: right;*/
			}
		}
		.product {
			.images {
				.slider {
					height: inherit !important;
					background-color: transparent;
				}
				img {
					padding: 5px;
				}
			}
			h1.product_title {
				border-bottom: 1px solid $secondary_color;
				font: {
					family: 'Roboto Condensed', sans-serif;
					size: 54px;
				}
				color: $secondary_color;
				letter-spacing: 3px;
			}
			p.price {
				margin: 2em 0;
				font-size: 24px;
				color: #0071b7;
				text-align: center;
			}
			form.cart {
				/*width: 220px;*/
				margin: auto;
				table.variations {
					margin: 0;
					border-bottom: 1px solid #c7c7c7;
					tbody {
						border: 0;
						tr {
							background-color: transparent !important;
							td.label {
								background-color: transparent;
								label {
									font: {
										size: 16px;
										weight: bold;
									}
									color: #5d5d5d;
								}
							}
							td.value {
								.ed__variation__button__wrp label {
									min-width: 125px;
									border: {
										color: #5d5d5d;
										radius: 10px;
									}
									color: #5d5d5d;
									&.active,
									&:hover {
										background-color: #0071b7;
										color: #fff;
									}
								}
							}
						}
					}
				}
				.single_variation_wrap {
					.quantity {
						padding: 30px 0;
						border-bottom: 1px solid #c7c7c7;
						float: none;
						&:before {
							content: 'Cantidad';
							padding-right: 20px;
							font: {
								size: 16px;
								weight: bold;
							}
							color: #5d5d5d;
							display: inline-block;
						}
						[type=number] {
							margin: 0;
							border-color: #5d5d5d;
							border-radius: 10px;
							display: inline-block;
						}
					}
					.custom_add_to_cart {
						padding: 30px 0;
						.part_1 {
							.button {
								border-radius: 10px;
								text-transform: uppercase;
							}
						}
						.part_2 {}
						.part_3 {
							.button {
								background-color: #fff;
								border: 1px solid #0071b7;
								border-radius: 10px;
								color: #0071b7;
								text-transform: uppercase;
							}
						}
					}
				}
				.button {
					background-color: #0071b7;
				}
			}
			h3 {
				font: {
					family: 'Roboto Condensed', sans-serif;
					size: 36px;
				}
				color: $secondary_color;
			}
			h4 {
				font-size: 18px;
				color: #0071b7;
			}
			.lines {
				border: {
					left: 1px solid #0071b7;
					right: 1px solid #0071b7;
				}
			}
			ul.tabs {
				margin-top: 30px;
				background-color: #f2f2f2;
				border: 0;
				a {
					padding: 15px 50px;
					color: $secondary_color;
					text-transform: uppercase;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.tabs-content {
				padding: 20px;
				border: 0;
			}
		}
		a,
		button {
			&.button {
				background-color: $secondary_color;
				border-radius: 0;
				color: #fff;
				&:hover {
					background-color: $secondary_color;
					color: #fff;
				}
			}
		}
		.related.products {
			h2 {
				font: {
					family: 'Roboto Condensed', sans-serif;
					size: 28px;
				}
				color: #5d5d5d;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: 3px;
			}
		}
	}
	&.blog {
		.category_main {
			.post {
				img {
					width: 100%;
				}
			}
		}
		.single_main {
			.single_thumbnail {
				margin-bottom: 20px;
			}
			.single_content {
				max-width: $max_width;
				margin: auto;
				h1 {
					margin-bottom: 20px;
					font-size: 30px;
					color: $secondary_color;
				}
				.button {
					background-color: $secondary_color;
					border-radius: 0;
					color: #fff;
				}
			}
		}
	}
	&.full-width {
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

.mfp-with-anim {
	.woocommerce.single-product {
		h1.product_title {
			border-bottom: 1px solid $secondary_color;
			font: {
				family: 'Roboto Condensed', sans-serif;
				size: 2em;
			}
			color: $secondary_color;
			letter-spacing: 3px;
		}
		p.price {
			margin: 1em 0;
			font-size: 24px;
			color: #0071b7;
			text-align: center;
		}
		form.cart {
			/*width: 220px;*/
			margin: auto;
			table.variations {
				margin: 0;
				border-bottom: 1px solid #c7c7c7;
				tbody {
					border: 0;
					tr {
						background-color: transparent !important;
						td.label {
							background-color: transparent;
							label {
								font: {
									size: 16px;
									weight: bold;
								}
								color: #5d5d5d;
							}
						}
						td.value {
							.ed__variation__button__wrp label {
								min-width: 115px;
								border: {
									color: #5d5d5d;
									radius: 10px;
								}
								color: #5d5d5d;
								&.active,
								&:hover {
									background-color: #0071b7;
									color: #fff;
								}
							}
						}
					}
				}
			}
			.single_variation_wrap {
				.quantity {
					padding: 30px 0;
					border-bottom: 1px solid #c7c7c7;
					float: none;
					&:before {
						content: 'Cantidad';
						padding-right: 20px;
						font: {
							size: 16px;
							weight: bold;
						}
						color: #5d5d5d;
						display: inline-block;
					}
					[type=number] {
						margin: 0;
						border-color: #5d5d5d;
						border-radius: 10px;
						display: inline-block;
					}
				}
				.custom_add_to_cart {
					padding: 30px 0;
					.part_1 {
						.button {
							border-radius: 10px;
							text-transform: uppercase;
						}
					}
					.part_2 {}
					.part_3 {
						.button {
							background-color: #fff;
							border: 1px solid #0071b7;
							border-radius: 10px;
							color: #0071b7;
							text-transform: uppercase;
						}
					}
				}
			}
			.button {
				background-color: #0071b7;
			}
		}
		.product_meta {
			display: none;
		}
	}
}

.woocommerce {
	span.onsale {
		width: 100px;
		height: 100px;
		top: -10px !important;
		left: -17px !important;
		right: inherit !important;
		background: {
			color: transparent;
			image: url(ribbon_bg.png);
			position: center;
			repeat: no-repeat;
		}
		.text {
			width: 100px;
			top: 30px;
			left: -9px;
			font: {
				size: 10px;
				weight: bold;
			}
			color: #fff;
			line-height: 20px;
			text-align: center;
			display: block;
			position: absolute;
			transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
		}
	}
}

/* Block 1 */

.block_1 {
	.moduletable_b11 {
		#a,
		#b,
		#c,
		#d {
			width: 100%;
			height: 100%;
			position: relative;
			z-index: 2;
			h3 {
				margin: 0;
				background-color: transparent;
				font: {
					size: 2.875em;
					weight: bold;
				}
				text-align: center;
				transition: 0.3s;
				a {
					border-bottom: 1px solid #fff;
					color: #fff;
				}
			}
			&:hover {
				transition: all 0.5s;
			}
		}
		#a {
			h3 {
				padding: 4em 0;
				&:hover {
					background-color: rgba(217, 185, 56, 0.7);
				}
			}
		}
		#b {
			h3 {
				padding: 2em 0;
				&:hover {
					background-color: rgba(8, 34, 105, 0.7);
				}
			}
		}
		#c {
			h3 {
				padding: 2em 0;
				&:hover {
					background-color: rgba(237, 28, 36, 0.7);
				}
			}
		}
		#d {
			h3 {
				padding: 1.3em 0;
				&:hover {
					background-color: rgba(217, 185, 56, 0.7);
				}
			}
		}
	}
}

/* Block 2 */

.block_2 {
	.moduletable_b21 {
		ul.products {
			li.product {
				margin-bottom: 1em;
			}
		}
		h2.woocommerce-loop-product__title {
			/*max-width: 85%;*/
			margin: 0 !important;
			margin-bottom: 10px !important;
			padding: 0 !important;
			font: {
				family: 'Roboto Condensed', sans-serif;
				size: 18px !important;
			}
			color: $primary_color;
			text-align: center;
		}
		span.price {
			/*max-width: 85%;*/
			margin: 0 !important;
			margin-bottom: 10px !important;
			padding: 0 !important;
			font: {
				family: 'Roboto Condensed', sans-serif;
				size: 18px !important;
			}
			color: #5d5d5d !important;
			text-align: center;
		}
		a.product_type_simple,
		a.product_type_variable {
			display: none;
		}
		button.woosq-btn {
			width: 180px;
			/*height: 40px;*/
			margin: auto;
			/*margin-top: -70px;*/
			padding: 12px 10px 12px 40px;
			background: {
				color: $secondary_color;
				image: url(icon_cart_white.png);
				/*origin: padding-box;*/
				position: 4px 0;
				repeat: no-repeat;
			}
			border-radius: 0;
			color: #fff;
			display: block;
			cursor: pointer;
			/*float: right;*/
		}
	}
}

/* Block 3 */

.block_3 {
	.moduletable_b31 {
		#a,
		#b,
		#c {
			h3 {
				margin: 0;
				background-color: transparent;
				font: {
					family: 'Roboto Condensed', sans-serif;
					size: 2.875em;
					weight: bold;
				}
				text-align: center;
				transition: 0.3s;
				a {
					color: #fff;
				}
			}
		}
		#a {
			h3 {
				padding: 5.05em 0;
				&:hover {
					background-color: rgba(237, 28, 36, 0.7);
				}
			}
		}
		#b {
			h3 {
				padding: 1.48em 1em;
				text-align: left;
				&:hover {
					background-color: rgba(8, 34, 105, 0.7);
				}
				img {
					margin-left: 1.5em;
				}
			}
		}
		#c {
			h3 {
				padding: 1.48em 1em;
				text-align: center;
				&:hover {
					background-color: rgba(232, 197, 60, 0.7);
				}
			}
		}
	}
}

/* Block 4 */

.block_4 {
	.moduletable_b41 {
		font-size: 'Roboto Condensed', sans-serif;
		color: #000;
		#background {
			background: {
				attachment: fixed;
				position: center;
				repeat: no-repeat;
				size: cover;
			}
		}
		h3 {
			width: fit-content;
			margin: auto;
			border-bottom: 1px solid #000;
			font: {
				size: 36px;
				weight: bold;
			}
		}
		a.button.hollow {
			border-radius: 0;
			border-color: #000;
			color: #000;
		}
	}
}

/* Block 5 */

.block_5 {
	.moduletable_b51 {
		#ff-stream-1 {
			min-height: inherit !important;
			padding: 0;
			.ff-stream-wrapper {
				margin: 0;
			}
			.ff-loadmore-wrapper {
				display: none;
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 30px 0;
	background-color: $background;
	font-size: 'Roboto Condensed', sans-serif;
	color: #fff;
	a {
		color: #fff;
	}
	.moduletable_bo1 {
		h3 {
			font: {
				size: 14px;
				weight: bold;
			}
		}
		.tnp-widget {
			.tnp-field-email {
				width: 75%;
				float: left;
				position: relative;
				label {
					display: none;
				}
				.tnp-email {
					background-color: transparent;
					border-radius: 0;
				}
			}
			.tnp-field-button {
				width: 25%;
				float: left;
				position: relative;
				.tnp-submit {
					margin-left: 10px;
					background-color: #d9b938;
					border-radius: 0;
				}
			}
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 30px;
	background-color: $background;
	font-size: 'Roboto Condensed', sans-serif;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* General */

	.xoo-wsc-modal {
		.xoo-wsc-basket {
			display: none;
		}
	}

	/* Top */

	.top_1 {
		.moduletable_to11 {
			padding: 5px 10px;
		}
	}

	.top {
		.moduletable_to1 {
			padding: 10px 15px;
		}
		.moduletable_to3 {
			padding: 5px 10px;
		}
		.moduletable_to4 {
			margin-left: 0;
		}
	}

	.content {
		padding: 20px 0;
		.moduletable_le1 {
			padding: 0;
			.left_filter {
				.title-bar {
					background-color: $secondary_color;
					display: block;
				}
				#filter-animated {
					padding-top: 10px;
				}
			}
			.panel-layout {
				.panel-grid {
					margin: 0 !important;
				}
			}
		}
		.woocommerce {
			ul.products {
				li.product {
					width: 100%;
				}
				button.woosq-btn {
					margin: auto;
					float: none;
				}
			}
		}
	}

	.block_2 {
		.moduletable_b21 {
			ul.products {
				li.product {
					width: 100%;
				}
				button.woosq-btn {
					margin: auto;
					float: none;
				}
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {

	body {
		padding-top: 100px;
	}

	header {
		width: 100%;
		height: 100px;
		top: 0;
		background-color: #fff;
		position: fixed;
		transition: top 0.2s ease-in-out;
		z-index: 100;
	}

	.nav-up {
		top: -100px;
	}

	.content {
		.moduletable_le1 {
			font-size: 0.85em;
		}
		.woocommerce {
			.product {
				.images {
					width: 58%;
					padding: 10px;
				}
				.summary {
					width: 38%;
				}
			}
		}
	}

}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}